# файлы создаваемые редакторами
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.orig
*.bak

# файлы системы
.DS_Store
Thumbs.db

# npm
node_modules/

# логи
*.log

# тест
test.js
test.ts
test.json
